<div class="page-container p-3">

  <div class="d-flex mb-4 gap-4 top-tabs"  style="margin-left:8px;">
    <button 
      mat-raised-button 
      class="tab-btn" 
      routerLink="parts-cat" 
      routerLinkActive="active-tab">
      Parts Audit Categories
    </button>
    
    <button 
      mat-raised-button 
      class="tab-btn" 
      routerLink="families" 
      routerLinkActive="active-tab">
      Parts Families
    </button>

     <button 
      mat-raised-button 
      class="tab-btn" 
      routerLink="master" 
      routerLinkActive="active-tab">
      Parts Master
    </button>
  </div>

  <router-outlet></router-outlet>

</div>