<div class="sqm-wrapper">
  <div class="nav-container"
    [ngClass]="isSidenavOpen ? 'nav-open' : 'nav-closed'"
    *ngIf="activeTab !== 'sqmd' && activeTab !== 'setup' && !hideSidebar">
    
    <button (click)="toggleSidenav()" class="toggle-button">
      <mat-icon>menu</mat-icon>
    </button>

    <nav class="nav-links" *ngIf="activeTab === 'process'">
      <ul>
        <li routerLinkActive="active" routerLink="./process/analytics">
          <a>
            <mat-icon class="nav-icon" *ngIf="!isSidenavOpen" matTooltip="Analytics">bar_chart</mat-icon>
            <span *ngIf="isSidenavOpen">Analytics</span>
          </a>
        </li>
        <li (click)="openaudit('process')">
          <a>
            <mat-icon class="nav-icon" *ngIf="!isSidenavOpen" matTooltip="New Audit">add_circle_outline</mat-icon>
            <span *ngIf="isSidenavOpen">New Audit</span>
          </a>
        </li>
        <li routerLinkActive="active" routerLink="./process/active-audits">
          <a>
            <mat-icon class="nav-icon" *ngIf="!isSidenavOpen" matTooltip="Active Audits">pending_actions</mat-icon>
            <span *ngIf="isSidenavOpen">Active Audits</span>
          </a>
        </li>
        <li routerLinkActive="active" routerLink="./process/actions">
          <a>
            <mat-icon class="nav-icon" *ngIf="!isSidenavOpen" matTooltip="Actions">play_circle_outline</mat-icon>
            <span *ngIf="isSidenavOpen">CAPA</span>
          </a>
        </li>
        <li routerLinkActive="active" routerLink="./process/completed-audits">
          <a>
            <mat-icon class="nav-icon" *ngIf="!isSidenavOpen" matTooltip="Completed Audits">task_alt</mat-icon>
            <span *ngIf="isSidenavOpen">Completed Audits</span>
          </a>
        </li>
        <li (click)="openUserManual('sample-1.pdf')">
          <a>
            <mat-icon class="nav-icon" *ngIf="!isSidenavOpen" matTooltip="User Manual">menu_book</mat-icon>
            <span *ngIf="isSidenavOpen">User Manual</span>
          </a>
        </li>
        <li (click)="openHelpDesk()">
          <a>
            <mat-icon class="nav-icon" *ngIf="!isSidenavOpen" matTooltip="IT Help Desk">support_agent</mat-icon>
            <span *ngIf="isSidenavOpen">IT Help Desk</span>
          </a>
        </li>
      </ul>
    </nav>

    <nav class="nav-links" *ngIf="activeTab === 'parts'">
      <ul>
        <li routerLinkActive="active" routerLink="./parts/analytics">
          <a>
            <mat-icon class="nav-icon" *ngIf="!isSidenavOpen" matTooltip="Analytics">bar_chart</mat-icon>
            <span *ngIf="isSidenavOpen">Analytics</span>
          </a>
        </li>
        <li (click)="openaudit('parts')">
          <a>
            <mat-icon class="nav-icon" *ngIf="!isSidenavOpen" matTooltip="New Audit">add_circle_outline</mat-icon>
            <span *ngIf="isSidenavOpen">New Audit</span>
          </a>
        </li>
        <li routerLinkActive="active" routerLink="./parts/active-audits">
          <a>
            <mat-icon class="nav-icon" *ngIf="!isSidenavOpen" matTooltip="Active Audits">pending_actions</mat-icon>
            <span *ngIf="isSidenavOpen">Active Audits</span>
          </a>
        </li>
         <li routerLinkActive="active" routerLink="./parts/actions">
          <a>
            <mat-icon class="nav-icon" *ngIf="!isSidenavOpen" matTooltip="Actions">play_circle_outline</mat-icon>
            <span *ngIf="isSidenavOpen">CAPA</span>
          </a>
        </li>
        <li routerLinkActive="active" routerLink="./parts/completed-audits">
          <a>
            <mat-icon class="nav-icon" *ngIf="!isSidenavOpen" matTooltip="Completed Audits">task_alt</mat-icon>
            <span *ngIf="isSidenavOpen">Completed Audits</span>
          </a>
        </li>
        <li (click)="openUserManual('sample-1.pdf')">
          <a>
            <mat-icon class="nav-icon" *ngIf="!isSidenavOpen" matTooltip="User Manual">menu_book</mat-icon>
            <span *ngIf="isSidenavOpen">User Manual</span>
          </a>
        </li>
        <li (click)="openHelpDesk()">
          <a>
            <mat-icon class="nav-icon" *ngIf="!isSidenavOpen" matTooltip="IT Help Desk">support_agent</mat-icon>
            <span *ngIf="isSidenavOpen">IT Help Desk</span>
          </a>
        </li>
      </ul>
    </nav>

    <nav class="nav-links" *ngIf="activeTab === 'inspection'">
      <ul>
        <li routerLinkActive="active" routerLink="./inspection/analytics">
          <a>
            <mat-icon class="nav-icon" *ngIf="!isSidenavOpen" matTooltip="Analytics">bar_chart</mat-icon>
            <span *ngIf="isSidenavOpen">Analytics</span>
          </a>
        </li>
        <li (click)="openheatmap()">
          <a>
            <mat-icon class="nav-icon" *ngIf="!isSidenavOpen" matTooltip="Heat Map">map</mat-icon>
            <span *ngIf="isSidenavOpen">Heat Map</span>
          </a>
        </li>
        <li (click)="addrecordpop(null)">
          <a>
            <mat-icon class="nav-icon" *ngIf="!isSidenavOpen" matTooltip="Add Record">add_circle_outline</mat-icon>
            <span *ngIf="isSidenavOpen">Add Record</span>
          </a>
        </li>
        <li routerLinkActive="active" routerLink="./inspection/datatable">
          <a>
            <mat-icon class="nav-icon" *ngIf="!isSidenavOpen" matTooltip="Active Records">pending_actions</mat-icon>
            <span *ngIf="isSidenavOpen">Active Records</span>
          </a>
        </li>
        <li routerLinkActive="active" routerLink="./inspection/inspectioncapa">
          <a>
            <mat-icon class="nav-icon" *ngIf="!isSidenavOpen" matTooltip="CAPA">play_circle_outline</mat-icon>
            <span *ngIf="isSidenavOpen">CAPA</span>
          </a>
        </li>
          <li routerLinkActive="active" routerLink="./inspection/inspectionarchive">
          <a>
            <mat-icon class="nav-icon" *ngIf="!isSidenavOpen" matTooltip="Archives">archive</mat-icon>
            <span *ngIf="isSidenavOpen">Archives</span>
          </a>
        </li>
          <li (click)="openUserManual('sample-1.pdf')">
          <a>
            <mat-icon class="nav-icon" *ngIf="!isSidenavOpen" matTooltip="User Manual">menu_book</mat-icon>
            <span *ngIf="isSidenavOpen">User Manual</span>
          </a>
        </li>
        <li (click)="openHelpDesk()">
          <a>
            <mat-icon class="nav-icon" *ngIf="!isSidenavOpen" matTooltip="IT Help Desk">support_agent</mat-icon>
            <span *ngIf="isSidenavOpen">IT Help Desk</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>

  <div class="main-content"
    [ngClass]="
      activeTab !== 'sqmd' && activeTab !== 'setup' && !hideSidebar
        ? isSidenavOpen
          ? 'content-shrink'
          : 'content-expanded'
        : 'content-full'
    ">
    
    <ul class="nav nav-pills" *ngIf="!hideSidebar">
      <li>
        <a mat-raised-button class="navtabWidth" routerLink="./sqmd" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
      </li>
      <li>
        <a mat-raised-button class="navtabWidth" routerLink="./process" [class.active]="activeTab === 'process'">Process Audits</a>
      </li>
      <li>
        <a mat-raised-button class="navtabWidth" routerLink="./parts" [class.active]="activeTab === 'parts'">Parts Audits</a>
      </li>
      <li>
        <a mat-raised-button class="navtabWidth" routerLink="./inspection" [class.active]="activeTab === 'inspection'">Inspection</a>
      </li>
      <li>
        <a mat-raised-button class="navtabWidth" routerLink="./process/setup/process-cat" [class.active]="activeTab === 'setup'">Setup</a>
      </li>
    </ul>

    <div class="d-flex mb-4 mt-4 gap-4 top-tabs" style="margin-left: 37px" *ngIf="activeTab === 'setup'">
      <button mat-raised-button class="tab-btn" routerLink="./process/setup/process-cat" routerLinkActive="active-tab">
        Process Audit Categories
      </button>
      <button mat-raised-button class="tab-btn" routerLink="./process/setup/commodity" routerLinkActive="active-tab">
        Commodity Master
      </button>
      <button mat-raised-button class="tab-btn" routerLink="./parts/setup/parts-cat" routerLinkActive="active-tab">
        Parts Audit Categories
      </button>
      <button mat-raised-button class="tab-btn" routerLink="./parts/setup/families" routerLinkActive="active-tab">
        Parts Families
      </button>
      <button mat-raised-button class="tab-btn" routerLink="./parts/setup/master" routerLinkActive="active-tab">
        Parts Master
      </button>
      <button mat-raised-button class="tab-btn" routerLink="./parts/setup/batchmaster" routerLinkActive="active-tab">
        Batch Master
      </button>
       <button mat-raised-button class="tab-btn" routerLink="./parts/setup/defectsmaster" routerLinkActive="active-tab">
        Defects Master
      </button>
    </div>

    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>