<div class="page-header ms-2">
    <h3 class="page-title">Documents </h3>
</div>

<div class="table-section" style="width:700px;">

    <!-- Button aligned right above the table -->
    <div class="d-flex justify-content-end mb-2">
        <button mat-raised-button color="primary" class="btn btn-primary" (click)="adddocument(null)">
            <mat-icon>add</mat-icon> Add Document
        </button>
    </div>

    <!-- Table -->
    <div class="table-wrapper">
        <table matSort id="example2" class="table table-bordered table-hover">
            <thead class="tbl-head">
                <tr>
                    <th class="text-left">Date</th>
                    <th class="text-left subject-col">Subject</th>
                    <th class="theadcolor text-center">View</th>
                    <th class="theadcolor text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of values">
                    <td class="text-left text-nowrap">{{ item.date }}</td>
                    <td class="text-left subject-col">{{ item.subject }}</td>
                    <td class="text-center text-nowrap">
                        <mat-icon>library_books</mat-icon>
                    </td>
                    <td class="text-center text-nowrap">
                        <a class="me-2" matTooltip="Edit" (click)="adddocument(null)">
                            <i class="fa fa-edit text-primary"></i>
                        </a>
                        <a matTooltip="Delete">
                            <i class="fa fa-trash text-danger"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="d-flex justify-content-end mt-4">
    <button mat-raised-button type="button"
      style="color: rgba(252, 253, 252, 0.926); background-color: #3262a8;">
      <mat-icon>save</mat-icon>&nbsp; Submit
    </button>
  </div>

</div>