.vamshi1 {
    font-size: 14px;
    color: #2196F3 !important;
    outline: #2196F3;
    outline-style: auto;
}
.subject-col {
  max-width: 200px;        /* control width */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* ... */
}