<div class="page-header  ms-5 d-flex justify-content-between align-items-start" style="padding-top: 20px;">

        <!-- Left Content -->
        <div class="header-content">
            <h3 class="page-title mb-1">  Documents</h3>

            <p class="header-info mb-0">
                <span class="fw-bold">Ref No:</span>
               H2022191

                <span class="ms-3 fw-bold">Subject:</span>
               Paint Sagging on Door
            </p>
        </div>

        <!-- Back Button -->
        <!-- <button class="btn btn-grey back-btn me-5" (click)="goBack()">
            <mat-icon class="me-1">arrow_back</mat-icon>
            Back
        </button> -->

    </div>





<div class="table-section ms-5" style="width:700px;">

    <!-- Button aligned right above the table -->
    <div class="d-flex justify-content-end mb-3">
        <button mat-raised-button color="primary" class="add-btn" (click)="adddocument(null)">
            <mat-icon>add</mat-icon> Add Document
        </button>

    </div>

    <!-- Table -->
    <div class="table-wrapper">
        <table matSort id="example2" class="table table-bordered table-hover">
            <thead class="tbl-head">
                <tr>
                    <th class="text-left">Date</th>
                    <th class="text-left subject-col">Subject</th>
                    <th class="theadcolor text-center">View</th>
                    <th class="theadcolor text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of values">
                    <td class="text-left text-nowrap">{{ item.date }}</td>
                    <td class="text-left subject-col">{{ item.subject }}</td>
                    <td class="text-center text-nowrap">
                        <mat-icon>library_books</mat-icon>
                    </td>
                    <td class="text-center text-nowrap">
                        <a class="me-2" matTooltip="Edit" (click)="adddocument(null)">
                            <i class="fa fa-edit text-primary"></i>
                        </a>
                        <a matTooltip="Delete">
                            <i class="fa fa-trash text-danger"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="d-flex justify-content-end mt-3">
        <button mat-raised-button type="button" style="color: rgba(252, 253, 252, 0.926); background-color: #3262a8;">
            <mat-icon>save</mat-icon>&nbsp; Submit
        </button>
    </div>

</div>