.analytics-container {
    padding: 14px 18px;
    
    min-height: 100vh;
}

.tab-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;

    margin-bottom: 18px;
}

.tab-btn {
    min-width: 105px !important;
    height: 46px !important;

    display: flex !important;
    align-items: center;
    justify-content: center;

    padding: 0 22px !important;

    background: #f8f8f8 !important;
    color: #333 !important;

    border-radius: 4px !important;

    font-size: 15px !important;
    font-weight: 500 !important;

    text-transform: none !important;
    text-decoration: none !important;

    border: 0px solid #e3e3e3 !important;

    box-shadow:
        0 2px 5px rgba(0, 0, 0, 0.20),
        0 1px 2px rgba(0, 0, 0, 0.08) !important;

    transition: all 0.2s ease;
}

.tab-btn:hover {
    background: #687075 !important;
    color: #ffffff !important;

    box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.22),
        0 2px 4px rgba(0, 0, 0, 0.10) !important;
}

.tab-btn:hover .mdc-button__label {
    color: #ffffff !important;
}

.tab-btn.active-tab {
    background: #5b6f7b !important;
    color: #fff !important;
    border-color: #5b6f7b !important;

    font-weight: 600 !important;
}

.tab-btn.active-tab:hover {
    background: #536671 !important;
    color: #fff !important;
}

.secondary-row {
    margin-top: -4px;
}

.analytics-content {
    margin-top: 20px;
}