<div class="NewHeader">
   <h3 style="padding-top:0px; padding-left: 20px; font-weight: 400;font-size: 24px;;">
  {{ isEditMode ? 'Update Process Audit Category' : 'Add Process Audit Category' }}
</h3>
</div>

<div>
    <div fxLayout="row wrap" class="col-sm-12">
        <div class="col-sm-12" style="margin-top: 0px; padding-left: 10px; padding-right: 20px;">
            <form>
                <div>

                    <div class="row" style="margin-bottom: 12px;">
                        <div class="col-sm-4">
                            <label class="add-member-label mt5" style="margin-top:5px; font-weight: bold;">Process
                              Category Name :</label>

                        </div>
                        <div class="col-sm-8">
                            <!-- <mat-select placeholder="Select Process Category" class="form-control">
                                <mat-option value="category1">Category 1</mat-option>
                                <mat-option value="category2">Category 2</mat-option>
                            </mat-select> -->
                            <input type="text" class="form-control" placeholder="Enter Process Category Name" >
                        </div>

                    </div>










                </div>
            </form>


            <mat-dialog-actions align="end"
                style="margin-top: 15px; display: flex; justify-content: flex-end;margin-right: -20px;">
                <button mat-raised-button class="ms-2 add-dark-hover btn-default" (click)="close()"
                    style="background-color: lightgray; color: red;margin-right: 5px;">
                    <mat-icon>cancel</mat-icon> Close
                </button>
                <button mat-raised-button type="submit" class="save" color="primary" style="margin-right: 17px;">
                  <mat-icon>save</mat-icon>
{{ isEditMode ? 'Update' : 'Save' }}
                </button>
            </mat-dialog-actions>



        </div>
    </div>
</div>