<table style="margin-top: 7px;padding-left: 0px; padding-right: 0px;" matSort id="example2"
    class="table table-bordered table-hover">
    <thead class="tbl-head">
        <tr class="theadcolor text-center"> Sample Image </tr>
    </thead>
    <tbody>
        <tr>
          <div class="upload-container">
  <!-- <h3 class="title">
    Upload Document (Provider : River Oaks Hospital and Clinics)
  </h3> -->

  <div style="display: flex; align-items: center; gap: 20px">
    <!-- Drag & Drop Upload Zone -->
    <div
      class="drop-zone"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event)"
    >
      <p>Drag and drop files here</p>
      <input type="file" #fileInput hidden (change)="onFileSelected($event)" />
      <button (click)="fileInput.click()">Browse Files</button>
    </div>

    <!-- Image Preview -->
    <div class="image-wrapper">

  <img [src]="Image" class="car-image" />

  <div class="grid-overlay">

    <div
      class="grid-cell"
      *ngFor="let cell of gridCells; let i = index"
      (click)="selectCell(i)">
    </div>

  </div>

</div>
  </div>

  <!-- <button class="save-button" (click)="save()">💾 Save</button> -->
</div>

            <!-- <td class="text-center"> <img style="height: 195px;" src="{{Image}}" /></td> -->
        </tr>
    </tbody>
</table>
<mat-dialog-actions align="center">

    <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">
        <mat-icon>cancel</mat-icon>Close
    </button>
</mat-dialog-actions>
