<div style="width: 100%; display: flex; justify-content: flex-end; margin-bottom: 10px; padding-right: 20px;">
  <button mat-raised-button matTooltip="Filter" style="background-color: black; color: white"
    class="filter-hover margin-right-10" (click)="filterToggle = !filterToggle">
    <mat-icon class="">filter_list</mat-icon> Filter
  </button>

  <button mat-raised-button style="background-color: black; color: white; " matTooltip="Grid Columns">
    <mat-icon>grid_on</mat-icon> Grid Columns
  </button>
</div>

<div class="col-sm-12" style="overflow: hidden; width: 100%;">

  <div class="col-sm-12" fxLayout="row wrap" *ngIf="filterToggle" style="margin-bottom: 0px;">
    <div style="margin-top: 10px; width: 100%;">
      <form [formGroup]="myGroup">
        <mat-card class="filter">
          <mat-card-content>
            <div class="row col-lg-12 col-sm-12">
              <div class="col-sm-4 row me-2 mt-3">
                <div class="col-sm-4 newMarginClass"><b>Keyword:</b></div>
                <div class="col-sm-8">
                  <input type="text" formControlName="Keyword" class="form-control" placeholder="Search by keyword" />
                </div>
              </div>

              <div class="col-sm-4 row me-2 mt-3">
                <div class="col-sm-4 newMarginClass"><b>Equipment Id:</b></div>
                <div class="col-sm-8">
                  <mat-select class="form-control" formControlName="TractorIdSections"
                    placeholder="Select Tractor Id Section">
                    <mat-option *ngFor="let section of TractorIdSections" [value]="section.item_id">
                      {{ section.item_text }}
                    </mat-option>
                  </mat-select>
                </div>
              </div>

              <div class="col-sm-4 row me-2 mt-3">
                <div class="col-sm-4 newMarginClass">
                  <b>Responsible Section:</b>
                </div>
                <div class="col-sm-8">
                  <mat-select class="form-control" formControlName="ResponsibleSections"
                    placeholder="Select Responsible Section">
                    <mat-option *ngFor="let section of responsibleSections" [value]="section.item_id">
                      {{ section.item_text }}
                    </mat-option>
                  </mat-select>
                </div>
              </div>

              <div class="col-sm-4 row me-2 mt-3">
                <div class="col-sm-4 newMarginClass">
                  <b>Responsible Section Lead:</b>
                </div>
                <div class="col-sm-8">
                  <mat-select class="form-control" formControlName="ResponsibleSectionLeadId"
                    placeholder="Select Responsible Section Lead">
                    <mat-option *ngFor="let item of resSectionFilterLeads" [value]="item.UserId">
                      {{ item.UserName }}
                    </mat-option>
                  </mat-select>
                </div>
              </div>

              <div class="col-sm-4 row me-2 mt-3">
                <div class="col-sm-4 newMarginClass"><b>Sub Group:</b></div>
                <div class="col-sm-8">
                  <mat-select class="form-control" formControlName="SubGroupId" placeholder="Select Sub Group">
                    <mat-option *ngFor="let item of FilterSubgroup" [value]="item.SubGroupId">
                      {{ item.SubGroupName }}
                    </mat-option>
                  </mat-select>
                </div>
              </div>

              <div class="col-sm-4 row me-2 mt-3">
                <div class="col-sm-4 newMarginClass"><b>ORC Status:</b></div>
                <div class="col-sm-8">
                  <mat-select class="form-control" formControlName="ORCStatuses" placeholder="Select ORC Status">
                    <mat-option *ngFor="let status of ORCStatuses" [value]="status.item_id">
                      {{ status.item_text }}
                    </mat-option>
                  </mat-select>
                </div>
              </div>

              <div class="col-sm-4 row me-2 mt-3">
                <div class="col-sm-4 newMarginClass"><b>New / Regular:</b></div>
                <div class="col-sm-8">
                  <mat-select class="form-control" formControlName="IsNew" placeholder="Select New or Regular">
                    <mat-option [value]="true">New</mat-option>
                    <mat-option [value]="false">Regular</mat-option>
                  </mat-select>
                </div>
              </div>

              <div class="col-sm-4 row me-2 mt-3">
                <div class="col-sm-4 newMarginClass">
                  <b>Failure Effect:</b>
                </div>
                <div class="col-sm-8">
                  <mat-select class="form-control" formControlName="ScoreMatrix" placeholder="Select Failure Effect">
                    <mat-option *ngFor="let item of scorematrix" [value]="item.ScoreMatrixId">
                      {{ item.ScoreMatrixName }}
                    </mat-option>
                  </mat-select>
                </div>
              </div>

              <div class="col-sm-4 row me-2 mt-3">
                <div class="col-sm-4 newMarginClass"><b>Probability:</b></div>
                <div class="col-sm-8">
                  <mat-select class="form-control" formControlName="Probability" placeholder="Select Probability">
                    <mat-option *ngFor="let num of [1,2,3,4,5,6,7,8,9,10]" [value]="num">
                      {{ num }}
                    </mat-option>
                  </mat-select>
                </div>
              </div>

              <div class="col-sm-4 row me-2 mt-4">
                <div class="col-sm-4 newMarginClass"><b>Part Code:</b></div>
                <div class="col-sm-8">
                  <input type="text" formControlName="PartCode" class="form-control" placeholder="Search by Part Code" />
                </div>
              </div>

              <div class="col-sm-4 row me-2 mt-4">
                <div class="col-sm-4 newMarginClass"><b>Detection:</b></div>
                <div class="col-sm-8">
                  <mat-select class="form-control" formControlName="CategoryId" placeholder="Select Detection">
                    <mat-option *ngFor="let item of categories" [value]="item.CategoryId">
                      {{ item.CategoryName }}
                    </mat-option>
                  </mat-select>
                </div>
              </div>

              <div class="col-sm-4 row me-2 mt-4">
                <div class="col-sm-4 newMarginClass"><b>Project Lead</b></div>
                <div class="col-sm-8">
                  <mat-select class="form-control" formControlName="sortOrder" placeholder="Select Project Lead">
                    <mat-option value="ASC">ASC</mat-option>
                    <mat-option value="DESC">DESC</mat-option>
                  </mat-select>
                </div>
              </div>

              <div class="col-sm-4 row me-2 mt-4 ">
                <div class="col-sm-4 newMarginClass"><b>Current Responsibility</b></div>
                <div class="col-sm-8">
                  <mat-select class="form-control" formControlName="sortOrder"
                    placeholder="Select Current Responsibility">
                    <mat-option value="ASC">ASC</mat-option>
                    <mat-option value="DESC">DESC</mat-option>
                  </mat-select>
                </div>
              </div>

              <div class="col-sm-12 pull-right mt-3" style="margin-left: -15px;">
                <a (click)="filterToggle = !filterToggle" class="pull-right"
                  style="font-size: 25px; cursor: pointer; margin-left: 5px">
                  <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                </a>

                <button mat-raised-button class="pull-right btn-default margin-right-10" (click)="clearFilter()">
                  <mat-icon>settings_backup_restore</mat-icon>Clear
                </button>
                <button mat-raised-button style="margin-right: 10px;" color="primary" class="pull-right" (click)="go()">
                  <mat-icon>search</mat-icon>Search
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </div>

  <div class="col-sm-12" style="margin-top: 10px; width: 100%; padding: 0;">
    <div class="table-responsive" id="grid-table-container">

      <table mat-table class="table table-bordered table-hover">
        <thead class="tbl-head">
          <tr>
            <th mat-header-cell mat-sort-header class="text-center">Action</th>
            <th mat-header-cell mat-sort-header class="text-center">Status</th>
            <th mat-header-cell mat-sort-header class="text-center">Resolved </th>
            <th mat-header-cell mat-sort-header class="text-center">Docs</th>
            <th mat-header-cell mat-sort-header class="text-center">Photos </th>
            <th mat-header-cell mat-sort-header class="text-center">Action Subject</th>
            <th mat-header-cell mat-sort-header class="text-center">Supplier Name</th>
            <th mat-header-cell mat-sort-header class="text-center">Action Type</th>
            <th mat-header-cell mat-sort-header class="text-center">Audit Reference</th>
            <th mat-header-cell mat-sort-header class="text-center">Process Area</th>
            <th mat-header-cell mat-sort-header class="text-center">Process Category</th>
            <th mat-header-cell mat-sort-header class="text-center">Description</th>
            <th mat-header-cell mat-sort-header class="text-center">Supplier Remarks</th>
            <th mat-header-cell mat-sort-header class="text-center">Log Date</th>
            <th mat-header-cell mat-sort-header class="text-center"> Due Date</th>
            <th mat-header-cell mat-sort-header class="text-center">Complition</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let applicant of tableList">
            <td class="text-center">
              <a matTooltip="Edit" (click)="addTests(applicant)">
                <i class="fa fa-edit"></i>
              </a>
              <a matTooltip="Delete" (click)="deleteConfirmation(applicant)">
                <i class="fa fa-trash red"></i>
              </a>
            </td>
            <td class="text-center">
              <mat-select [(ngModel)]="applicant.status" class="form-control">
                <mat-option value="WIP">WIP</mat-option>
                <mat-option value="Open">Open</mat-option>
                <mat-option value="Closed">Closed</mat-option>
                <mat-option value="Pending">Pending</mat-option>
                <mat-option value="In Progress">In Progress</mat-option>
                <mat-option value="Completed">Completed</mat-option>
              </mat-select>
            </td>
            <td class="text-center">
              <mat-checkbox [checked]="applicant.resolved === true"></mat-checkbox>
            </td>
            <td class="text-center" style="color: blue; cursor: pointer;" (click)="docsPhoto()">{{ applicant.docs }}</td>
            <td class="text-center" style="color: blue; cursor: pointer;" (click)="docsPhoto()">{{ applicant.photos }}</td>
            <td class="text-center">{{ applicant.actionSubject }}</td>
            <td class="text-center">{{ applicant.supplierName }}</td>
            <td class="text-center">{{ applicant.actionType }}</td>
            <td class="text-center">{{ applicant.auditReference }}</td>
            <td class="text-center">{{ applicant.processArea }}</td>
            <td class="text-center">{{ applicant.processCategory }}</td>
            <td class="text-center">
              <mat-icon (click)="imageSource1()" matTooltip="{{ applicant.description }}" style="color: blue; cursor: pointer;">info</mat-icon>
            </td>
            <td class="text-center">
              <mat-icon (click)="imageSource1()" matTooltip="{{ applicant.supplierRemarks }}"
                style="color: blue; cursor: pointer;">info</mat-icon>
            </td>
            <td class="text-center">{{ applicant.logDate }}</td>
            <td class="text-center">{{ applicant.dueDate }}</td>
            <td class="text-center">{{ applicant.completion ?? '-' }}</td>
          </tr>
        </tbody>
      </table>

      <button class="mine mine-right" mat-fab (click)="scrollRight()">
        <mat-icon style="color: #37474f">fast_forward</mat-icon>
      </button>
      <button class="mine mine-left" mat-fab (click)="scrollLeft()">
        <mat-icon style="color: #37474f">fast_rewind</mat-icon>
      </button>

    </div>
    
    <div style="width: 100%;">
      <mat-paginator [length]="totalSize" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div>