
.agenda-cell {
 
  color: blue;
  cursor: pointer;
  font-weight: 500;
 
}

.agenda-cell:hover {
 
  color: #0d47a1;
}
.center-cell {
  text-align: center;        // horizontal center
  vertical-align: middle; 
  padding-left: 50px;   // vertical center
}