<div class="page-actions-bar">
  <button mat-raised-button color="primary" class="add-item-btn" matTooltip="Add Item" (click)="openEditDialog(null)">
    <mat-icon>add</mat-icon> Add Item
  </button>
  <button mat-raised-button class="filter-toggle-btn" matTooltip="Filter" (click)="filterToggle = !filterToggle">
    <mat-icon>filter_list</mat-icon> Filter
  </button>
</div>



<div fxLayout="row wrap" *ngIf="filterToggle" style=" margin-bottom: 0px;">
  <div fxFlex="50" class="flex-p w-50" style="width: 66% !important; margin-left: 17px;">
    <form [formGroup]="filterForm">
      <mat-card class="filter">
        <mat-card-content>
          <div class="row col-sm-12">
            <div class="col-sm-4 row me-2">
              <div class="col-sm-3 newMarginClass">
                <b>Keyword:</b>
              </div>
              <div class="col-sm-9">
                <input type="text" formControlName="Keyword" class="form-control" placeholder="Search Category">
              </div>
            </div>
            <div class="col-sm-4 row me-2">
              <div class="col-sm-3 newMarginClass">
                <b>Status:</b>
              </div>
              <div class="col-sm-8">
                <mat-select placeholder="Select Status" class="form-control" formControlName="Status">
                  <mat-option [value]="true">Active</mat-option>
                  <mat-option [value]="false">InActive</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-sm-4 pull-right ">
              <a (click)="filterToggle = !filterToggle" class="pull-right"
                style="font-size: 25px; cursor: pointer; margin-left: 5px">
                <i class="fa fa-angle-double-up" aria-hidden="true"></i>
              </a>

              <button mat-raised-button class="pull-right btn-default margin-right-10"
                (click)="filterForm.reset();formInit();getCategory();">
                <mat-icon>settings_backup_restore</mat-icon> Clear
              </button>
              <button mat-raised-button color="primary" style="margin-right: 10px;" class="pull-right"
                (click)="getCategory()">
                <mat-icon>search</mat-icon>Search
              </button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>

<div class="container-fluid">
  <div class="flex-p">
    <div class="row">
      <div class="col-sm-12">
        <div id="grid-table-container" class="table-responsive">
           <table matSort id="example2" class="table table-bordered table-hover">
  <colgroup>
    <col style="width: 90px;">   <!-- Actions -->
    <col style="width: 80px;">   <!-- Status -->
    <col style="width: 100px;">  <!-- Item Name -->
    <col style="width: 100px;">  <!-- Item Code -->
    <col style="width: 100px;">  <!-- Item Category -->
    <col style="width: 100px;">  <!-- Item Sub Category -->
    <col style="width: 100px;">  <!-- Available Quantity -->
    <col style="width: 70px;">  <!-- Unit Rate -->
    <col style="width: 150px;">   <!-- Description (takes remaining space) -->
  </colgroup>

  <thead class="tbl-head">
    <tr>
      <th class="text-center">Actions</th>
      <th class="text-center">Status</th>
      <th class="text-center">Item Name</th>
      <th class="text-center">Item Code</th>
      <th class="text-center">Item Category</th>
      <th class="text-center">Item Sub Category</th>
      <th class="text-center">Available Quantity</th>
      <th class="text-center">Unit Rate</th>
      <th class="text-center">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of tableList">
      <td class="text-center editDel">
        <a style="cursor: pointer;margin-right:10px;" [ngClass]="{'disable-custom' : !canUpdate}"
          matTooltip="Edit" (click)="openEditDialog(item)">
          <i class="fa fa-edit" style="color: cornflowerblue"></i>
        </a>
        <a><i class="fa fa-trash red" matTooltip="Delete" [ngClass]="{'disable-custom' : !canDelete}"
            style="cursor: pointer;" (click)="deleteConfirmation(item)"></i></a>
      </td>
      <td style="text-align: center !important;" class="text-center">
        <a [ngStyle]="{'color' : item.IsActive ? 'blue' : 'red'}"
          [ngClass]="{'disable-custom' : !canUpdate}">
          <span *ngIf="!item.IsActive" (click)="Confirmation(item)" style="color:red; cursor:pointer;">Inactive</span>
          <span *ngIf=" item.IsActive" (click)="Confirmation(item)" style="color:blue; cursor:pointer;">Active</span>
        </a>
      </td>
      <td class="text-center">{{item.ItemName}}</td>
      <td class="text-center">{{item.ItemCode}}</td>
      <td class="text-center">{{item.ItemCategory}}</td>
      <td class="text-center">{{item.ItemSubCategory}}</td>
      <td class="text-center">{{item.AvailableQuantity}}</td>
      <td class="text-center">{{item.UnitRate }}</td>
      <td class="text-center description-cell" [innerHTML]="formatDescription(item.Description)"></td>
    </tr>
  </tbody>
  <tr *ngIf="tableList == null || tableList.length == 0">
    <td colspan="9" class="text-center">No records found</td>
  </tr>
</table>
            <mat-paginator class="col-sm-12" [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 20, 50, 100]" (page)="fnHandlePage($event)" showFirstLastButtons>
            </mat-paginator>
           </div>
      </div>
    </div>
  </div>
</div>