<div class="NewHeader">
    <h3 style="padding-top:10px;">Add Gate</h3>
</div>

<div>
    <div fxLayout="row wrap" class="col-sm-12">
        <div class="col-sm-12" style="margin-top: 0px; padding-left: 20px;">
            <form>
                <div>
                    
            

                    <!-- Task Subject (Replaced Dates with Single Text Input) -->
                    <div class="row" style="margin-bottom: 12px;">
                        <div class="col-sm-4">
                            <label class="add-member-label mt5 required" style="margin-top:5px;">Gate Name:</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" maxlength="150" style="height:35px;" class="form-control back" placeholder="Enter Gate Name">
                        </div>
                    </div>

                    <!-- Description (Replaced Project Manager with Text Area) -->
                    <div class="row" style="margin-top: 10px; margin-bottom: 12px;">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <label class="control-label mt-1">Description:</label>
                        </div>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="3" placeholder="Enter Description" style="resize: vertical;"></textarea>
                        </div>
                    </div>

                </div>
            </form>

            <!-- Actions -->
            <mat-dialog-actions align="end" style="margin-top: 15px;">
                <button mat-raised-button class="ms-2 add-dark-hover btn-default" (click)="close()" style="background-color: lightgray; color: red; margin-right: 5px;">
                    <mat-icon>cancel</mat-icon> Close
                </button>
                <button mat-raised-button type="button" class="save" color="primary">
                    <mat-icon>save</mat-icon> Save
                </button>
            </mat-dialog-actions>
            
        </div>
    </div>
</div>