<div class="NewHeader">
    <h1 mat-dialog-title style="color:white;">
        {{ isEditMode ? 'Update Asset' : 'Add Asset' }}
    </h1>
</div>

<div mat-dialog-content>
    <div class="col-sm-12" style="margin-bottom: 10px;">
        <form [formGroup]="myGroup">
            <div class="row" style="margin-bottom: 12px;">
                <div class="col-sm-3 ">
                    <label class="add-member-label control-label" style="margin-top:5px; ">Asset Name :</label>
                </div>
                <div class="col-sm-9">
                    <div>
                        <input class="form-control name back" maxlength="50" placeholder="Enter Asset Name"
                            formControlName="AssetName" type="text" value="">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 12px;">
                <div class="col-sm-3 ">
                    <label class="add-member-label control-label" style="margin-top:5px; ">Asset Code
                        :</label>
                </div>
                <div class="col-sm-9">
                    <div>
                        <input class="form-control name back" maxlength="50" placeholder="Enter Asset Code"
                            formControlName="AssetCode" type="text" value="">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 12px;">
                <div class="col-sm-3 ">
                    <label class="add-member-label control-label" style="margin-top:5px; ">AssetCategory
                        :</label>
                </div>
                <div class="col-sm-9">
                    <div>
                        <input class="form-control name back" maxlength="50" placeholder="Enter Category Name"
                            formControlName="AssetCategory" type="text" value="">
                    </div>
                </div>
            </div>
            <!-- <div class="row" style="margin-bottom: 12px;">
                <div class="col-sm-3 ">
                    <label class="add-member-label control-label" style="margin-top:5px; ">Asset Sub-Category
                        :</label>
                </div>
                <div class="col-sm-9">
                    <div>
                        <input class="form-control name back" maxlength="50" placeholder="Enter Sub-Category Name"
                            formControlName="AssetSubCategory" type="text" value="">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 12px;">
                <div class="col-sm-3 ">
                    <label class="add-member-label control-label" style="margin-top:5px; ">Available Quantity
                        :</label>
                </div>
                <div class="col-sm-9">
                    <div>
                        <input class="form-control name back" maxlength="50" placeholder="Enter Available Quantity"
                            formControlName="AvailableQuantity" type="text" value="">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 12px;">
                <div class="col-sm-3 ">
                    <label class="add-member-label control-label" style="margin-top:5px; ">Unit Rate
                        :</label>
                </div>
                <div class="col-sm-9">
                    <div>
                        <input class="form-control name back" maxlength="50" placeholder="Enter Unit Rate"
                            formControlName="UnitRate" type="text" value="">
                    </div>
                </div>
            </div> -->

            <div style="margin-bottom: 10px;">
                <div class="pull-right">
                    <button mat-raised-button class="me-3" (click)="close()"
                        style="background-color: lightgray; color: red">
                        <mat-icon>cancel</mat-icon> Close
                    </button>
                    <button mat-raised-button type="submit" class="save" (click)="upsertAsset()"
                        style="margin-right: 5px;" color="primary">
                        <mat-icon>save</mat-icon> Save
                    </button>

                </div>
            </div>
        </form>
    </div>
</div>