<div style="margin-top: 0px;">
 <div class="page-header  ms-5 d-flex justify-content-between align-items-start" style="padding-top: 20px;">

        <!-- Left Content -->
        <div class="header-content">
            <h3 class="page-title mb-1">  CAPA</h3>

            <p class="header-info mb-0">
                <span class="fw-bold">Ref No:</span>
               H2022191

                <span class="ms-3 fw-bold">Subject:</span>
               Paint Sagging on Door
            </p>
        </div>

        <!-- Back Button -->
        <!-- <button class="btn btn-grey back-btn me-5" (click)="goBack()">
            <mat-icon class="me-1">arrow_back</mat-icon>
            Back
        </button> -->

    </div>


<div fxLayout="row wrap">
    <div class="w-100">
        <div class="flex-p">
            <div class="row wrap">
                <div class="col-sm-6">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
</div>