<mat-sidenav-container class="sidenav-container">
  
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <div class="menu-container">
      <button mat-raised-button class="menu-btn" routerLinkActive="active-btn" routerLink="analytics">Analytics</button>
      <button mat-raised-button class="menu-btn" routerLinkActive="active-btn" (click)="openaudit()">New Audit</button>
      <button mat-raised-button class="menu-btn" routerLinkActive="active-btn" routerLink="active-audits">Active Audits</button>
      <button mat-raised-button class="menu-btn" routerLinkActive="active-btn" routerLink="setup">Setup</button>
      <button mat-raised-button class="menu-btn" routerLinkActive="active-btn" routerLink="alerts">Alerts (8)</button>
      <button mat-raised-button class="menu-btn" routerLinkActive="active-btn" routerLink="completed-audits">Completed Audits</button>
      <button mat-raised-button class="menu-btn" routerLinkActive="active-btn" routerLink="actions">Actions</button>
      <button mat-raised-button class="menu-btn" routerLinkActive="active-btn" routerLink="user-manual">User Manual</button>
      <button mat-raised-button class="menu-btn" routerLinkActive="active-btn" routerLink="help-desk">IT Help Desk</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="content-area">
    
    <div class="header-toggle">
      <mat-icon class="hamburger-icon" (click)="sidenav.toggle()">menu</mat-icon>
    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>