<div class="NewHeader">
    <h1 mat-dialog-title style="color:white;">
        Add Item Category
    </h1>
</div>
 
<div mat-dialog-content>
    <div class="col-sm-12" style="margin-bottom: 10px;">
        <form [formGroup]="myGroup">
            <div class="row" style="margin-bottom: 12px;">
                <div class="col-sm-3 ">
                    <label class="add-member-label control-label" style="margin-top:5px; ">Item Name :</label>
                </div>
                <div class="col-sm-9">
                    <div>
                        <input class="form-control name back" maxlength="50" placeholder="Enter Item Name"
                            formControlName="CategoryName" type="text" value="">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 12px;">
                <div class="col-sm-3 ">
                    <label class="add-member-label control-label" style="margin-top:5px; ">Item Code
                        :</label>
                </div>
                <div class="col-sm-9">
                    <div>
                        <input class="form-control name back" maxlength="50" placeholder="Enter Item Code"
                            formControlName="CategoryName" type="text" value="">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 12px;">
                <div class="col-sm-3 ">
                    <label class="add-member-label control-label" style="margin-top:5px; ">ItemCategory
                        :</label>
                </div>
                <div class="col-sm-9">
                    <div>
                        <input class="form-control name back" maxlength="50" placeholder="Enter Category Name"
                            formControlName="CategoryName" type="text" value="">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 12px;">
                <div class="col-sm-3 ">
                    <label class="add-member-label control-label" style="margin-top:5px; ">Item Sub-Category
                        :</label>
                </div>
                <div class="col-sm-9">
                    <div>
                        <input class="form-control name back" maxlength="50" placeholder="Enter Sub-Category Name"
                            formControlName="CategoryName" type="text" value="">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 12px;">
                <div class="col-sm-3 ">
                    <label class="add-member-label control-label" style="margin-top:5px; ">Available Quantity
                        :</label>
                </div>
                <div class="col-sm-9">
                    <div>
                        <input class="form-control name back" maxlength="50" placeholder="Enter Available Quantity"
                            formControlName="CategoryName" type="text" value="">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 12px;">
                <div class="col-sm-3 ">
                    <label class="add-member-label control-label" style="margin-top:5px; ">Unit Rate
                        :</label>
                </div>
                <div class="col-sm-9">
                    <div>
                        <input class="form-control name back" maxlength="50" placeholder="Enter Category Name"
                            formControlName="CategoryName" type="text" value="">
                    </div>
                </div>
            </div>

            <div style="margin-bottom: 10px;">
                <div class="pull-right">
                     <button mat-raised-button class="me-3" (click)="close()"
     style="background-color: lightgray; color: red">
      <mat-icon>cancel</mat-icon> Close
    </button> 
                    <button mat-raised-button type="submit" class="save" (click)="upsertCategory()"
                        style="margin-right: 5px;" color="primary">
                        <mat-icon>save</mat-icon> Save
                    </button>
                   
                </div>
            </div>
        </form>
    </div>
</div>