.NewHeader {
  background-color: #3f3f3f;
  padding: 15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.back {
  background-color: #ffffff !important;
}

.control-label {
  font-size: 13px;
  color: #334155;
}
