<div class="nav-container" [ngClass]="{'nav-open': isNavOpen, 'nav-closed': !isNavOpen}">
  
  <button (click)="toggleNav()" class="toggle-button">
    <mat-icon>menu</mat-icon>
  </button>

  <nav class="nav-links">
    <ul>
      <li routerLinkActive="active">
        <a [routerLink]="['status-master']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Status Master">toggle_on</mat-icon>
          <span *ngIf="isNavOpen">Status Master</span>
        </a>
      </li>

      <li routerLinkActive="active">
        <a [routerLink]="['country']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Country">flag</mat-icon>
          <span *ngIf="isNavOpen">Countries</span>
        </a>
      </li>

      <li routerLinkActive="active">
        <a [routerLink]="['criticality']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Criticality">priority_high</mat-icon>
          <span *ngIf="isNavOpen">Criticality</span>
        </a>
      </li>

      <li routerLinkActive="active">
        <a [routerLink]="['step']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Step">stairs</mat-icon>
          <span *ngIf="isNavOpen">Steps</span>
        </a>
      </li>

      <li routerLinkActive="active">
        <a [routerLink]="['distributor']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Distributor">local_shipping</mat-icon>
          <span *ngIf="isNavOpen">Distributor</span>
        </a>
      </li>

      <li routerLinkActive="active">
        <a [routerLink]="['department']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Department">domain</mat-icon>
          <span *ngIf="isNavOpen">Department</span>
        </a>
      </li>
    </ul>
  </nav>

</div>

<div [ngClass]="{'full-width': !isNavOpen}" class="col-sm-10">
  <router-outlet></router-outlet>
</div>