
<div class="back-btn ps-1 mb-4" style="display: flex; justify-content: flex-end; font-size: 18px; font-weight:500">
  
  <div class="col-sm-6 " style="border:2px solid rgb(255, 255, 255) ">
     <span style="color: blue; cursor: pointer; margin-left:0px" (click)="goBack()">Active Audit</span> > Audit Reference
  </div>
  
 <div class="col-sm-6" style="display: flex; justify-content: flex-end; ">
      <button _ngcontent-utt-c603="" mat-raised-button="" class="mat-focus-indicator mat-raised-button mat-button-base" style="background-color: #808080; color: white; ;margin-right: 10px;"><span class="mat-button-wrapper" (click)="goBack()"><mat-icon _ngcontent-utt-c603="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">arrow_back</mat-icon> Back </span><span matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false" ng-reflect-centered="false" ng-reflect-trigger="[object HTMLButtonElement]"></span><span class="mat-button-focus-overlay"></span></button>

  </div>
 
</div>



<div class="page-container p-3">

  <div class="d-flex mb-3 gap-2">
    <button mat-raised-button *ngFor="let cat of categories" (click)="selectCategory(cat)"
      [ngClass]="selectedCategory === cat ? 'tab-active' : 'tab-inactive'" class="top-tab-btn">
      {{ cat }}
    </button>
  </div>

  <div class="d-flex justify-content-end mb-3 gap-2">
    <button mat-raised-button class="btn-black" (click)="opendocpop()">
      <mat-icon class="icon-sm" style="margin-top: 7px;">upload</mat-icon> Upload File
    </button>
    <button mat-raised-button color="primary" class="btn-blue" (click)="addchecklistaudit()">
      <mat-icon class="icon-sm" style="margin-top: 7px;">person_add</mat-icon> Add Parameter
    </button>
  </div>

  <div class="table-responsive bg-white shadow-sm"
    style="border: 1px solid #e0e0e0; border-radius: 4px; overflow: hidden;">
    <table class="custom-grid-table">
      <thead>
        <tr>
          <th>Parameter</th>
          <th>Spec</th>
          <th class="text-center">Min</th>
          <th class="text-center">Max</th>
          <th class="text-center">Action</th>
          <th>Special</th>
          <th>Method</th>
          <th class="text-center">S1</th>
          <th class="text-center">S2</th>
          <th class="text-center">S3</th>
          <th class="text-center">S4</th>
          <th class="text-center">S5</th>
          <th class="text-center">Remarks</th>
          <th class="text-center">Okay</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of pagedData">
          <td>{{ item.parameter }}</td>
          <td>{{ item.spec }}</td>
          <td class="text-center">{{ item.min }}</td>
          <td class="text-center">{{ item.max }}</td>
          <td class="text-center text-link" style="color: blue; cursor: pointer;" >   <a routerLink="/app/inner-screens/parts-audit-details">{{ item.actionLink }}</a></td>
          <td>{{ item.special }}</td>
          <td>{{ item.method }}</td>
          <td class="text-center">{{ item.s1 | number:'1.1-1' }}</td>
          <td class="text-center">{{ item.s2 | number:'1.1-1' }}</td>
          <td class="text-center">{{ item.s3 | number:'1.1-1' }}</td>
          <td class="text-center">{{ item.s4 | number:'1.1-1' }}</td>
          <td class="text-center">{{ item.s5 | number:'1.1-1' }}</td>

          <td class="text-center">
            <mat-icon style="color: blue; font-size: 20px; cursor: pointer;" matTooltip="View Remarks">info</mat-icon>
          </td>

          <td class="text-center">
            <mat-icon *ngIf="item.okay" style="color: green; font-size: 20px;">done</mat-icon>
            <mat-icon *ngIf="!item.okay" style="color: red; font-size: 20px;">close</mat-icon>
          </td>

          <td class="text-center manage-icons">
            <mat-icon class="edit-icon" matTooltip="Edit"
              style="color: cornflowerblue; font-size: 18px; margin-right: 8px; cursor: pointer;">edit</mat-icon>
            <mat-icon class="delete-icon" matTooltip="Delete"
              style="color: red; font-size: 18px; cursor: pointer;">delete</mat-icon>
          </td>
        </tr>
      </tbody>
    </table>

    <mat-paginator [length]="tableData.length" [pageSize]="4" [pageSizeOptions]="[4, 10, 25, 50]" showFirstLastButtons
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>

</div>