.page-header {
  padding: 10px 24px 10px;
  margin-bottom: 20px;
}

.header-content {
  display: flex;
  flex-direction: column;
}

.page-title {
  margin: 0;
  font-size: 20px;
 
  color: #222;
}

.header-info {
  margin: 3px 0 0 0;
  font-size: 13px;
  color: #5f6770;
}

.add-btn {
  height: 42px;
  margin-top: 5px;
}

/* Editor */
.editor-container {
  width: 60%;
  min-width: 60%;
  max-width: 100%;
  resize: horizontal;
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 24px;
}

.editor-box {
  width: 100%;
}

.editor-container .ql-toolbar,
.editor-container .ql-container {
  width: 100%;
  box-sizing: border-box;
}

::ng-deep .ql-toolbar {
  border-radius: 6px 6px 0 0;
}

::ng-deep .ql-container {
  border-radius: 0 0 6px 6px;
  min-height: 350px;
}

/* Save Button */
.save-box {
  padding-right: 24px;
}

.save-btn {
  color: #fff !important;
  background-color: #0a5db6 !important;
}

