
<div style="margin-top: -20px;">

<div class="page-header d-flex justify-content-between align-items-start">

  <!-- Left Content -->
  <div class="header-content">
    <h3 class="page-title mb-2">Mitigation</h3>

    <p class="header-info mb-0">
      <span class="fw-bold">Ref No:</span>
      H2022191

      <span class="ms-3 fw-bold">Subject:</span>
      Paint Sagging on Door
    </p>
  </div>

  <!-- Right Button -->
  <!-- <button mat-raised-button color="primary" class="add-btn" (click)="addParameter(null)">
    <mat-icon>person_add</mat-icon>
    Add Mitigation
  </button> -->

</div>



<div class="editor-container">

  <!-- Rich Text Editor -->
  <div class="editor-box">
    <quill-editor [(ngModel)]="content" [modules]="modules" placeholder="Insert text here ...">
    </quill-editor>
  </div>

</div>


<!-- Save Button -->
<div class="d-flex justify-content-end mt-3 save-box">
  <button mat-raised-button type="button" class="save-btn">
    <mat-icon>save</mat-icon>
    Save
  </button>
</div>

</div>