<div class="page-header ms-2">
  <h3 class="page-title">Mitigation</h3>
</div>

<div class="editor-container">

  <!-- Top right Add Mitigation -->
  <div class="d-flex justify-content-end mb-2" >
    <button mat-raised-button color="primary"
            (click)="addParameter(null)">
      <mat-icon>person_add</mat-icon> Add Mitigation
    </button>
  </div>
  
 

  <!-- Rich Text Editor -->
  <div class="editor-box">
    <quill-editor
      [(ngModel)]="content"
      [modules]="modules"
      placeholder="Insert text here ...">
    </quill-editor>
  </div>

  <!-- Bottom right Save -->
</div>

 <div class="d-flex justify-content-end mt-3 save-box" >
    <button mat-raised-button type="button"
            style="color:#fbfdfb; background-color:#0a5db6;">
      <mat-icon >save</mat-icon>
      Save
    </button>
  </div>
