.page-header {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 20px;

  display: flex;
  align-items: flex-start;

  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: column;
}
.page-title {
  margin: 0 !important;
  font-size: 20px;
  font-weight: 500;
}

.header-info {
  margin: 3px 0 0 0;
  font-size: 13px;
  color: #555;
}

.back-btn {
  margin-left: auto;
  margin-right: 60px;

  background-color: gray;
  color: white;

  display: flex;
  align-items: center;

  height: 40px;
  margin-top: 5px;
}

.quill-wrapper {
  min-height: 200px;
  height: 500px;
  border: 1px solid #ccc;
  position: relative;

  resize: vertical;
  overflow: hidden;
}

.quill-wrapper ::ng-deep .ql-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;

  background-color: #fafafa;
  border-bottom: 1px solid #ccc;
}

.quill-wrapper ::ng-deep .ql-container {
  height: calc(100% - 42px);
  border: none !important;
  overflow: hidden;
}

.quill-wrapper ::ng-deep .ql-editor {
  height: 100%;
  overflow-y: auto;
  font-size: 14px;
}