<div class="NewHeader">
    <h1 mat-dialog-title style="color:white;">
        {{ data ? 'Update' : 'Add'}} Category
    </h1>
</div>
 
<div mat-dialog-content>
    <div class="col-sm-12" style="margin-bottom: 10px;">
        <form [formGroup]="myGroup">
            <div class="row" style="margin-bottom: 12px;">
                <div class="col-sm-3 ">
                    <label class="add-member-label control-label" style="margin-top:5px; ">Category
                        :</label>
                </div>
                <div class="col-sm-9">
                    <div>
                        <input class="form-control name back" maxlength="50" placeholder="Enter Category Name"
                            formControlName="CategoryName" type="text" value="">
                        <div *ngIf="isSubmitting && f.CategoryName.errors" class="error-text">
                            <div *ngIf="f.CategoryName.errors.required">{{'Category Required'}}</div>
                        </div>
                        <div *ngIf="f.CategoryName.errors" class="error-text">
                            <div *ngIf="f.CategoryName.errors.pattern">{{'Invalid'}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-bottom: 10px;">
                <div class="pull-right">
                     <button mat-raised-button class="me-3" (click)="close()"
     style="background-color: lightgray; color: red">
      <mat-icon>cancel</mat-icon> Close
    </button> 
                    <button mat-raised-button type="submit" class="save" (click)="upsertCategory()"
                        style="margin-right: 5px;" color="primary">
                        <mat-icon>save</mat-icon> Save
                    </button>
                   
                </div>
            </div>
        </form>
    </div>
</div>