<div class="NewHeader">
    <h3 *ngIf="!data" style="padding-top:10px;">Add Project</h3>
    <h3 *ngIf="data" style="padding-top:10px;">Edit Project</h3>
</div>
<div>
    <div fxLayout="row wrap" class="col-sm-12">
        <div class="col-sm-2" style="margin-bottom: 10px;">
            <div class="m-auto pills pt-2 pr-0">
                <ul class="nav col-12 flex-column pr-0">
                    <li class="nav-item" style="margin-top: 10px;"
                        [ngClass]=" addStep == 1 ? 'active nav-item' : 'nav-item'" (click)="changeAddStep(1)"
                        routerLinkActive="active">
                        <a mat-raised-button class="nav-link text-left py-2 width ">Overview
                        </a>
                    </li>
                    <!-- <li class="nav-item" style="margin-top: 10px;"
                        [ngClass]=" addStep == 2 ? 'active nav-item': 'nav-item'" (click)="changeAddStep(2)"
                        routerLinkActive="active">
                        <a mat-raised-button class="nav-link text-left py-2 width">Section Leads
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>

      <div *ngIf="addStep == 1" class="col-sm-10" style="margin-top: 0px;padding-left:20px;">
    <form>
        <div>
            <div class="row" style="padding-left:30px;">
                <div class="row" style="margin-bottom: 12px;">
                    <div class="col-sm-4 ">
                        <label class="add-member-label mt5 required " style="margin-top:5px;">Project Title:</label>
                    </div>
                    <div class="col-sm-8">
                        <div>
                            <input type="text" maxlength="150" style="height:35px;" class="form-control back" placeholder="Project Title">
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 12px;">
                    <div class="col-sm-4 ">
                        <label class="add-member-label mt5 required " style="margin-top:5px;">Description:</label>
                    </div>
                    <div class="col-sm-8">
                        <div>
                            <textarea name="" id="" rows="4" class="form-control" placeholder="Project Description"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 12px;">
                    <div class="col-sm-4">
                        <label class="add-member-label mt5 required" style="margin-top:5px;">Project Timeline:</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label style="font-size: 12px; color: #666;">Start Date</label>
                                    <input type="date" style="height:35px;" class="form-control back">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label style="font-size: 12px; color: #666;" class="required">Due Date</label>
                                    <input type="date" style="height:35px;" class="form-control back">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                        <label class="control-label mt-1">Project Manager:</label>
                    </div>
                    <div class="col-sm-8">
                        <mat-select placeholder="Select Project Manager" class="form-control ">
                            <mat-option value="Shailaja">Shailaja</mat-option>
                            <mat-option value="Sai">Sai</mat-option>
                            <mat-option value="Satya">Satya</mat-option>
                        </mat-select>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <mat-dialog-actions align="end" style="margin-top: 15px;">
        <button mat-raised-button class="ms-2 add-dark-hover btn-default" (click)="close()" style="background-color: lightgray; color: red;margin-right: 5px;">
            <mat-icon>cancel</mat-icon> Close
        </button>
        <button mat-raised-button type="submit" class="save" color="primary" style="margin-right: 17px;" (click)="changeAddStep(2)">
            <mat-icon>save</mat-icon>Save & Next
        </button>
    </mat-dialog-actions>
</div>



        <div *ngIf="addStep == 2" class="col-sm-10" style="padding-left:50px;">
            <div class="container-fluid w-100 mb-2">
                <div class="w-100">
                    <div class="flex-p">
                        <div class="row wrap">
                            <div class="col-sm-12 no-padding">
                                <div class="row-wrap">
                                    <div class="w-100">
                                        <div class="row">
                                            <div class="col-xs-6"></div>
                                            <div class="col-xs-6">
                                                <div class="col-xs-6"></div>
                                                <div class="col-xs-6" style="margin-left: -2px;">
                                                    <div style="margin-right:-10px;">
                                                        <button mat-raised-button color="primary"
                                                            class="pull-right btn-primary margin-right-5 mt-3"
                                                            (click)="openEditDialog(null)">
                                                            <mat-icon style="margin-top: 0px;">add</mat-icon> Add
                                                            Project Section
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="padding-right: 5px;padding-left: 0px;">
                <div fxLayout="row wrap" #resizedDiv>
                    <div class="flex-p w-100 sizeAlign">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="grid-table-container" class="table-responsive">
                                    <table matSort id="example2" class="table table-bordered table-hover">

                                        <thead class="tbl-head">
                                            <tr>
                                                <th>Section</th>
                                                <th>Section Lead</th>
                                                <!-- <th>Select Sub Lead</th> -->
                                                <th class="text-center">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngIf="ProjectSections == null || ProjectSections.length == 0">
                                                <td colspan="4" class="text-center">No records found</td>
                                            </tr>
                                            <tr *ngFor="let item of ProjectSections">
                                                <td>
                                                    {{item.ResponsibleSection}}
                                                </td>
                                                <td>
                                                    {{item.ResponsibleSectionLead}}

                                                    <!-- <mat-select class="form-control"
                                                            formControlName="ResponsibleSectionLeadId"
                                                            placeholder="Select Responsible Section Lead">
                                                            <ng-container *ngFor="let item of responsibleSectionLeads">
                                                                <mat-option [value]="item.UserId">
                                                                    {{item.UserName}}
                                                                </mat-option>
                                                            </ng-container>
                                                        </mat-select> -->
                                                </td>
                                                <!-- <td>
                                                    {{item.ResponsibleSectionSubLead}}

                                                    <select class='form-control mt-1'
                                                            placeholder="--Select Project--" required>
                                                            <option class='option' [value]="0">
                                                                --Select Sub Lead--
                                                            </option>
                                                            <option class='option' [value]="1">
                                                                Surya
                                                            </option>
                                                            <option class='option' [value]="2">
                                                                Vamshi
                                                            </option>
                                                            <option class='option' [value]="3">
                                                                Sai Kumar
                                                            </option>
                                                            <option class='option' [value]="4">
                                                                Satya
                                                            </option>
                                                            <option class='option' [value]="5">
                                                                Radha Krishna
                                                            </option>
                                                        </select>
                                                </td> -->
                                                <td class=" text-center">
                                                    <a style="margin-right: 10px; cursor: pointer; color: cornflowerblue;"
                                                        (click)="openEditDialog(item)">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <a>
                                                        <i style="cursor: pointer;" matTooltip="Delete Project"
                                                            class="fa fa-trash red"
                                                            (click)="deleteConfirmation(item)"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
                                        (page)="fnHandlePage($event)" [pageSizeOptions]="[5, 10, 25, 50, 100]"
                                        showFirstLastButtons>
                                    </mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-dialog-actions align="end" style="margin-top: 15px;margin-right: 9px;">
                    <!-- <button mat-raised-button style="background-color:#229494 ;color: white;">Save</button> -->
                   
                    <!-- <button mat-raised-button (click)="changeAddStep(3)"
                            style="background-color:#229494 ;color: white;">Proceed</button> -->
                    <button mat-raised-button class="ms-2 add-dark-hover btn-default" (click)="close()"
                        style="background-color: lightgray; color: red;margin-right: 2px;">
                        <mat-icon>cancel</mat-icon>
                        Close
                    </button>

                     <button mat-raised-button (click)="changeAddStep(1)"><mat-icon>arrow_back</mat-icon>Back</button>
                </mat-dialog-actions>
            </div>
        </div>
    </div>
</div>