<div class="page-header ms-5">
    <h3 class="page-title">7D matrix</h3>

    <p class="header-info mb-0">
                <span class="fw-bold">Ref No:</span>
               PSR-24001

                <span class="ms-3 fw-bold">Subject:</span>
               Paint Defect
            </p>
</div>




<div class="col-lg-12 ms-3" style="overflow: hidden; ">
    


    <div class="col-lg-12" fxLayout="row wrap" *ngIf="filterToggle" style="margin-bottom: -5px;">
        <div fxFlex="100" class="flex-p w-100">
            <form>
                <mat-card class="filter" style="width: 101.5%; margin-left: -15px;">
                    <mat-card-content>
                        <div class="row col-lg-12 col-sm-12">

                            <!-- Keyword -->
                            <div class="col-sm-4 row me-2 mt-3">
                                <div class="col-sm-3 newMarginClass"><b>Keyword:</b></div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="Enter Keyword" />
                                </div>
                            </div>

                            <!-- Country -->
                            <div class="col-sm-4 row me-2 mt-3">
                                <div class="col-sm-3 newMarginClass"><b>Step Code :</b></div>
                                <div class="col-sm-9">
                                    <mat-select placeholder="Select Step Code	" class="form-control">
                                        <mat-option value="Albania">Shift Manage</mat-option>
                                        <mat-option value="Algeria">Shift Manage</mat-option>

                                    </mat-select>
                                </div>
                            </div>

                            <!-- department -->
                            <div class="col-sm-4 row me-2 mt-3">
                                <div class="col-sm-3 newMarginClass"><b>Department:</b></div>
                                <div class="col-sm-9">
                                    <mat-select placeholder="Select Department" class="form-control">
                                        <mat-option value="Developer">Developer</mat-option>
                                        <mat-option value="RnD">RnD</mat-option>
                                        <mat-option value="QA">QA</mat-option>
                                        <mat-option value="Account">Account</mat-option>
                                        <mat-option value="Test">Test</mat-option>
                                    </mat-select>
                                </div>
                            </div>

                            <!-- Current Status -->
                            <div class="col-sm-4 row me-2 mt-3">
                                <div style="white-space:nowrap" class="col-sm-3 newMarginClass"><b>Status:</b>
                                </div>
                                <div class="col-sm-9">
                                    <mat-select placeholder="Select Status" class="form-control">
                                        <mat-option value="Opened">Opened</mat-option>

                                        <mat-option value="WIP">WIP</mat-option>
                                        <mat-option value="Pending">Pending</mat-option>

                                    </mat-select>
                                </div>
                            </div>


                            <div class="col-sm-4 row me-2 mt-3">
                                <div class="col-sm-3 newMarginClass"><b>From Date:</b></div>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" placeholder="" />
                                </div>
                            </div>


                            <div class="col-sm-4 row me-2 mt-3">
                                <div class="col-sm-3 newMarginClass"><b>To Date:</b></div>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" placeholder="" />
                                </div>
                            </div>



                            <!-- Buttons -->
                            <div class="col-sm-12 pull-right mt-3" style="margin-left: -15px;">
                                <a (click)="filterToggle = !filterToggle" class="pull-right"
                                    style="font-size: 25px; cursor: pointer; margin-left: 5px">
                                    <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                                </a>

                                <button mat-raised-button class="pull-right btn-default margin-right-10"
                                    (click)="clearFilter();getTests()">
                                    <mat-icon>settings_backup_restore</mat-icon> Clear
                                </button>

                                <button mat-raised-button color="primary" class="pull-right margin-right-10"
                                    (click)="getTests()">
                                    <mat-icon>search</mat-icon> Search
                                </button>
                            </div>

                        </div>
                    </mat-card-content>
                </mat-card>
            </form>
        </div>
    </div>


    <!-- Table -->

    <div id="grid-table-container" class="table-responsive" style="width: 100%">
  <table id="example2" class="table table-bordered table-hover data-table" style="margin-top: 13px;">

     <colgroup>
    <col style="width: 100px">   <!-- Execute -->
    <col style="width: 55px">   <!-- Step -->
    <col style="width: 200px">  <!-- Step Name -->
    <col style="width: 55px">   <!-- Done -->
    <col style="width: 55px">   <!-- Notes -->
    <col style="width: 140px">  <!-- Department -->
    <col style="width: 120px">  <!-- Assigned -->
    <col style="width: 130px">  <!-- Status -->
    <col style="width: 110px">  <!-- Last Updated -->
    <col style="width: 130px">  <!-- Updated By -->
    <col style="width: 100px">  <!-- Start Date -->
    <col style="width: 100px">  <!-- End Date -->
  </colgroup>
    <thead class="tbl-head">
      <tr>
        <th class="text-center">Execute</th>
        <th class="text-center step-col">Step</th>
        <th class="text-left">Step Name</th>
        <th class="text-center">Done</th>
        <th class="text-center">Notes</th>
        <th class="text-center">Department</th>
        <th class="text-center">Assigned</th>
        <th class="text-center">Status</th>
        <th class="text-center">Last Updated</th>
        <th class="text-center">Updated By</th>
        <th class="text-center">Start Date</th>
        <th class="text-center">End Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data; let i = index">
        <td class="text-center">
          <input type="checkbox" >
        </td>
        <td class="text-center step-col">{{ item.step }}</td>
        <td class="text-left">{{ item.stepName }}</td>
       <td class="text-center">
  <input
  type="checkbox"
  [(ngModel)]="item.done"
  (change)="onCheckboxChange(i, $event)"
/>
</td>

        <td class="text-center">
          <span style="color: blue; cursor: pointer;"><mat-icon>info</mat-icon></span>
        </td>
        <td class="text-center">{{ item.department }}</td>
        <td class="text-center">{{ item.assigned }}</td>
        <td class="text-center">{{ item.status }}</td>
        <td class="text-center">{{ item.lastUpdated }}</td>
        <td class="text-center">{{ item.updatedBy }}</td>
        <td class="text-center">{{ item.startDate }}</td>
        <td class="text-center">{{ item.endDate }}</td>
        
      </tr>
    </tbody>
  </table>
</div>


</div>