<div class="table-responsive bg-white" #tableContainer>
    <table class="custom-grid-table">
      <thead>
        <tr>
          <th>Audit Reference</th>
          <th>Commodity</th>
          <th>Location Factory</th>
          <th>Supplier</th>
          <th>Auditor</th>
          <th>Audit Date</th>
          <th>Issues</th>
          <th>CAPA</th>
          <th>Score</th>
          <th style="width: 150px;">Status</th>
          <th>Done</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tableData">
          <td class="text-link">
            <a routerLink="/app/inner-screens/parts-completed-ref">{{ item.auditRef }}</a>
          </td>
          <td>{{ item.commodity }}</td>
          <td>{{ item.location }}</td>
          <td>{{ item.supplier }}</td>
          <td>{{ item.auditor }}</td>
          <td>{{ item.date }}</td>
          <td class="text-link text-center">{{ item.issues }}</td>
          <td class="text-link text-center">{{ item.capa }}</td>
          <td class="text-link text-center"><a routerLink="/app/inner-screens/parts-completed-ref">{{ item.score }}</a></td>
          <td class="text-center">
            <mat-select class="mat-select form-control" placeholder="Select Status" [(ngModel)]="item.status">
              <mat-option value="Pending">Initiated</mat-option>
              <mat-option value="WIP">Awarded</mat-option>
              <mat-option value="Completed">In Progress</mat-option>
              <mat-option value="WIP">On Hold</mat-option>
              <mat-option value="Completed">Complete</mat-option>
            </mat-select>
          </td>
          <td class="text-center">
            <mat-checkbox color="primary" [(ngModel)]="item.done"></mat-checkbox>
          </td>
        </tr>
      </tbody>
    </table>
  </div> <mat-paginator 
    [length]="tableData.length"
    [pageSize]="4"
    [pageSizeOptions]="[4, 10, 25, 50]"
    showFirstLastButtons>
  </mat-paginator>

  <div class="fab-wrapper">
    <button mat-fab color="accent" class="nav-fab" style="background-color: #fafafa;" (click)="scrollLeft()" matTooltip="Scroll Left">
      <mat-icon style="color: #37474f;">fast_rewind</mat-icon>
    </button>
    <button mat-fab color="accent" class="nav-fab" style="background-color: #fafafa;" (click)="scrollRight()" matTooltip="Scroll Right">
      <mat-icon style="color: #37474f;">fast_forward</mat-icon>
    </button>
  </div>

 