<div class="nav-container" [ngClass]="{'nav-open': isNavOpen, 'nav-closed': !isNavOpen}">

  <!-- Toggle Button -->
  <button (click)="toggleNav()" class="toggle-button">
    <mat-icon>menu</mat-icon>
  </button>

  <nav class="nav-links">
    <ul>

      <li routerLinkActive="active">
        <a [routerLink]="['category']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Categories">category</mat-icon>
          <span *ngIf="isNavOpen">Categories</span>
        </a>
      </li>

      <li routerLinkActive="active">
        <a [routerLink]="['detection']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Detection">search</mat-icon>
          <span *ngIf="isNavOpen">Detection</span>
        </a>
      </li>

      <li routerLinkActive="active">
        <a [routerLink]="['score-matrix']">
          <mat-icon *ngIf="!isNavOpen" matTooltip="Score Matrix">assessment</mat-icon>
          <span *ngIf="isNavOpen">Score Matrix</span>
        </a>
      </li>

    </ul>
  </nav>

</div>

<router-outlet></router-outlet>