button:not([mat-raised-button]) {
  background-color: white;
  border: none;
  padding: 10px 20px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  cursor: pointer;
}

.active-tab:not([mat-raised-button]) {
  background-color: #546e7a;
  color: white;
  font-weight: bold;
}
.rectangle {
    height: 15px;
    width: 1150px;
    background-color: #555;
    margin-top: 18px;
}
.triangle-right {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid #555;
    border-bottom: 25px solid transparent;
}
css .add-job-code {
    background: #fff !important;
    cursor: pointer;
    font-size: 16px !important;
    color: rgba(5, 214, 68, 0.82) !important;
}

.delete-job-code {
    background: #fff !important;
    cursor: pointer;
    font-size: 16px !important;
    color: red !important;
}

.no-padding {
    padding: 0px !important;
}
.button-gap {
  margin-right: 8px; /* or whatever spacing you prefer */
}

.custom-btn {
  height: 41px;
  padding: 0 16px;
  font-size: 14px;
  line-height: 41px; /* keeps text vertically centered */
}

.custom-btn mat-icon {
  font-size: 18px;
  margin-right: 5px;
}



textarea {
  width: 100% !important;
  max-width: 100%;
}


.btn-footer-space {
  margin-bottom: 20px;
}

/* give breathing space at bottom of page */
.tab-content,
.active-tab-container,
.container-fluid {
  padding-bottom: 80px;
}


.footer-actions {
  margin-bottom: 30px;   /* 👈 actual bottom space */
  padding-bottom: 20px;
}
.header-info {
  margin: 3px 0px 0px 0px;
  font-size: 13px;
  color: #555;
}