<div class="tab-row secondary-row">
  <button mat-raised-button class="tab-btn" routerLink="./" routerLinkActive="active-tab" [routerLinkActiveOptions]="{exact: true}">
    ALL
  </button>

  <button mat-raised-button class="tab-btn" routerLink="casting" routerLinkActive="active-tab">
    Casting
  </button>

  <button mat-raised-button class="tab-btn" routerLink="forging" routerLinkActive="active-tab">
    Forging
  </button>

  <button mat-raised-button class="tab-btn" routerLink="machining" routerLinkActive="active-tab">
    Machining
  </button>

  <button mat-raised-button class="tab-btn" routerLink="fasteners" routerLinkActive="active-tab">
    Fasteners
  </button>

  <button mat-raised-button class="tab-btn" routerLink="non-metallic" routerLinkActive="active-tab">
    Non-Metallic
  </button>

  <button mat-raised-button class="tab-btn" routerLink="sheet-metal" routerLinkActive="active-tab">
    Sheet Metal
  </button>

  <button mat-raised-button class="tab-btn" routerLink="proprietary" routerLinkActive="active-tab">
    Proprietary
  </button>
</div>
<router-outlet></router-outlet>