<div style="margin-top: 0px;">

  <!-- HEADER -->
  <div class="page-header d-flex justify-content-between align-items-start">

    <div class="header-content">
      <h3 class="page-title mb-2">Updates</h3>

      <p class="header-info mb-0">
        <span class="fw-bold">Ref No:</span>
        H2022191

        <span class="ms-3 fw-bold">Subject:</span>
        Paint Sagging on Door
      </p>
    </div>

  </div>


  <!-- FORM SECTION -->
  <div class="content-section" style="margin: 20px;">

    <div class="form-group">
      <h2>
        <label class="section-label" style="font-size: 16px;">
          Root Cause Analysis:
        </label>
      </h2>

      <textarea
        class="form-control"
        placeholder="Enter Root Cause Analysis"
        required>
      </textarea>
    </div>

    <div class="form-group">
      <h2>
     <label class="section-label" style="font-size: 16px;">
          Interim Corrective Action:
        </label>
      </h2>

      <textarea
        class="form-control"
        placeholder="Enter Interim Corrective Action"
        required>
      </textarea>
    </div>

    <div class="form-group">
      <h2>
        <label class="section-label" style="font-size: 16px;">
          Permanent Corrective Action:
        </label>
      </h2>

      <textarea
        class="form-control"
        placeholder="Enter Permanent Corrective Action"
        required>
      </textarea>
    </div>

    <!-- BUTTONS -->
    <div class="button-wrapper " >

      <button type="button" class="draft-btn">
        Save Draft
      </button>

      <button mat-raised-button type="button" class="submit-btn">
        <mat-icon>save</mat-icon>
        Submit
      </button>

    </div>

  </div>

</div>