<!-- 
<div style="width: 90%;">

<div class="col-sm-12" style="margin-top:50px">
    <div class="row col-md-10">
        <div class="mb-3">
            <label><b>Root Cause Analysis :</b></label>

            <textarea class="form-control mt-3"  rows="3" formControlName="problemStatement"
                placeholder="Enter Root Cause Analysis"></textarea>
        </div>
    </div>
    <div class="row col-md-10 mt-2">
        <div class="mb-3">
            <label><b>Interim Corrective Action :</b></label>

            <textarea class="form-control mt-3" rows="3" formControlName="problemStatement"
                placeholder="Enter Interim Corrective Action"></textarea>
        </div>
    </div>
    <div class="row col-md-10 mt-2">
        <div class="mb-3">
            <label><b>Permanent Corrective Action:</b></label>

            <textarea class="form-control mt-3" rows="3" formControlName="problemStatement"
                placeholder="Enter Permanent Corrective Action"></textarea>
        </div>
    </div>

    <div class="text-end mt-3 col-md-10" style="margin-left: -15px;">
        <button mat-raised-button color="primary" [mat-dialog-close]="'test'">
            <i class="fas fa-save"></i> <span class="ms-2">Submit</span>
        </button>
    </div>
</div>

</div> -->



<div class="col-sm-12" style="margin-top:60px">
    <div class="row col-md-12">
        <div class="mb-3">
            <label><b>Root Cause Analysis :</b></label>
            <textarea class="form-control mt-3 w-100" rows="3" formControlName="problemStatement"
                placeholder="Enter Root Cause Analysis"></textarea>
        </div>
    </div>
    <div class="row col-md-12 mt-2">
        <div class="mb-3">
            <label><b>Interim Corrective Action :</b></label>
            <textarea class="form-control mt-3 w-100" rows="3" formControlName="problemStatement"
                placeholder="Enter Interim Corrective Action"></textarea>
        </div>
    </div>
    <div class="row col-md-12 mt-2">
        <div class="mb-3">
            <label><b>Permanent Corrective Action:</b></label>
            <textarea class="form-control mt-3 w-100" rows="3" formControlName="problemStatement"
                placeholder="Enter Permanent Corrective Action"></textarea>
        </div>
    </div>

    <div class="text-end  mt-3  col-md-12" >
        <button mat-raised-button color="primary" class="me-3" [mat-dialog-close]="'test'">
            <i class="fas fa-save"></i> <span class="ms-2 ">Submit</span>
        </button>
    </div>
</div>