<!-- <div class="pills" *ngIf="showSetupTabs">
  <ul class="nav nav-pills" style="
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 18px;
  padding-bottom: 10px;
  gap: 4px;
  width: 97%;
">
    <li routerLinkActive="active" [routerLink]="['./stages']">
      <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">Stages</a>
    </li>

    <li routerLinkActive="active" [routerLink]="['./gates']">
      <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">Gates</a>
    </li>

    <li routerLinkActive="active" [routerLink]="['./testing-masterData']">
      <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">Master Data</a>
    </li>
  </ul>
</div> -->

<router-outlet></router-outlet>