<!--Add Module and Filter Buttons-->
<div class="col-sm-12">
  <div class="container-fluid" style="padding-right: 1px; padding-left: 0px">
    <div class="w-100">
      <div class="flex-p">
        <div class="row wrap">
          <div class="col-sm-12 no-padding" style="margin-bottom: -7px;">
            <div class="row-wrap">
              <div class="w-100">
                <div class="row">
                  <div class="col-xs-6" style="margin-left: 51%">
                    <div class="col-xs-6" style="margin-left: -13px">
                      <div class="">
                        <button mat-raised-button class="pull-right btn-primary margin-right-5 mt-3"
                          (click)="addmodule(null)" color="primary">
                          <mat-icon>add</mat-icon> Add Module
                        </button>
                        <button mat-raised-button style="background-color: black;
    color: white;" class="pull-right filters-hover margin-right-10 mt-3" (click)="filterToggle = !filterToggle">
                          <mat-icon>filter_list</mat-icon> Filter
                        </button>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Filter Toggle-->
  <div fxLayout="row wrap" *ngIf="filterToggle">
    <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100 margins">
      <mat-card class="filter">
        <mat-card-content>
          <div class="row">
            <div class="col-sm-4">
              <div class="col-sm-4">
                <label class="pull-right" style="margin-top: 6px">Module Name:</label>
              </div>
              <div class="col-sm-8">
                <input type="text" placeholder="Search Module Name" class="form-control" />
              </div>
            </div>

            <div class="col-sm-4">
              <div class="col-sm-4">
                <label class="pull-right" style="margin-top: 6px">Audit Type:</label>
              </div>
              <div class="col-sm-8">
                <mat-select class="form-control" placeholder="Audit Type" required>
                  <mat-option *ngFor="let option of Status" [value]="option.value">
                    {{ option.name }}
                  </mat-option>
                </mat-select>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="col-sm-4">
                <label class="pull-right" style="margin-top: 6px">Status:</label>
              </div>
              <div class="col-sm-8">
                <mat-select class="form-control" placeholder="Select Status" required>
                  <mat-option *ngFor="let option of Status" [value]="option.value">
                    {{ option.name }}
                  </mat-option>
                </mat-select>
              </div>
            </div>

            <!--Go and Clear Buttons-->

          </div>


          <div class="row" style="margin-top: 15px;
    margin-right: 10px;">
            <div class="col-12 d-flex justify-content-end align-items-center gap-3">
              <!-- Toggle Icon -->


              <!-- Clear Button -->


              <!-- Search Button -->
              <button mat-raised-button color="primary" (click)="getTests()">
                <mat-icon>search</mat-icon> Search
              </button>

              <button mat-raised-button class="btn-default" (click)="clearFilter(); getTests()">
                <mat-icon>settings_backup_restore</mat-icon> Clear
              </button>
              <a (click)="filterToggle = !filterToggle" style="font-size: 25px; cursor: pointer;">
                <i class="fa fa-angle-double-up" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!--table -->
  <div class="container-fluid" style="padding-right: 1px; padding-left: 0px">
    <div fxLayout="row wrap" #resizedDiv>
      <div class="flex-p w-100 sizeAlign">
        <div class="row">
          <div class="col-sm-12">
            <div id="grid-table-container" class="table-responsive">
              <table matSort id="example2" class="table table-bordered table-hover">
                <thead class="tbl-head">
                  <tr>
                    <th class="text-center" style="width: 112px !important">
                      Actions
                    </th>
                    <th class="text-center">Status</th>

                    <th>Module Name</th>
                    <th class="theadcolor  text-center">Audit Type</th>
                    <th class="text-center">Models</th>
                     <th class="text-center">Image</th>

                  </tr>
                </thead>
                <tbody dragula="MONITORSTEPS" [(dragulaModel)]="tableList">
                  <tr *ngFor="let item of values">
                    <td class="text-center editDel">
                      <a style="
                          cursor: pointer;
                          margin-right: 0px;
                          margin-left: -5px;
                        " matTooltip="Edit" (click)="addmodule(item)">
                        <i class="fa fa-edit" style="color: cornflowerblue"></i>
                      </a>
                      <a [ngClass]="{
                          'disable-custom': !canDelete || item.TotalUsed
                        }">
                        <i style="cursor: pointer" matTooltip="Delete " class="fa fa-trash red"
                          (click)="deleteConfirmation(item)"></i>
                      </a>
                    </td>
                    <td class="text-center" style="text-align: center !important">
                      <a [ngStyle]="{
                          color: item.status ? 'blue' : 'red',
                          cursor: 'pointer'
                        }" [ngClass]="{ 'disable-custom': !canUpdate }">
                        <span (click)="Confirmation(item)">
                          {{ item.status ? "Active" : "Inactive" }}
                        </span>
                      </a>
                    </td>
                    <td>
                      <span>
                        <!-- <i class="fa fa-arrows" aria-hidden="true"></i> -->
                        {{ item.modulename }}
                      </span>
                    </td>
                    <td style="color:blue; cursor:pointer" class="text-center" (click)="openAuditTypes()">{{ item.audittype }}</td>

                    <td class="text-center">
                      <span style="color: blue; cursor: pointer" (click)="modelspop()">8/8</span>
                    </td>

                    <!-- ✅ Image Column -->
                              <td class="text-center">
                      <mat-icon style="cursor: pointer;" (click)="imageSource(item.image)">visibility
                      </mat-icon>
                    </td>


                  </tr>
                </tbody>
              </table>
              <!--Pagination-->
              <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
                [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>