.test{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    color: brown;
}
 
.keyword-text {
    font-weight: bold;
    font-size: 12px; /* Adjust the font size as needed */
  }
 